html {
  font-size: 200%;
  --lightgrey: #f1f1f1;
}
.hovershow {
  display: none;
  text-decoration: none;
}
:hover>.hovershow {
  display: inline;
}
a, .clickable {
  cursor: pointer;
}

.book-link {
  display: inline-block;
}

h3 {
  margin-top: calc(var(--pico-typography-spacing-vertical) * 0.5) !important;
  margin-bottom: calc(var(--pico-typography-spacing-vertical) * 0.5) !important;
}

.rename-input {
  display: block;
}

nav {
  padding: 1em;
}

nav img{
  width: 3em;
  transform: scale(2);
}

.invalid {
  opacity: 0.5;
}

.button-new {
  float: right;
}

#container {
  padding: 1em;
}

article {
  overflow: hidden;
}

article div[role="group"] {
  float: right;
  display: block;
  width: auto;
  margin-top: -15px;
}

.prev {
  float: left;
  margin-top: 25px;
  margin-bottom: 15px;
}

.next {
  float: right;
  margin-top: 25px;
  margin-bottom: 15px;
}

#notifications {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.notification {
  font-size: medium;
  display: none;
}
.notification:nth-last-child(1) {
  display: block;
}
.notification:nth-last-child(2) {
  display: block;
  opacity: 0.9;
}
.notification:nth-last-child(3) {
  display: block;
  opacity: 0.7;
}
.notification:nth-last-child(4) {
  display: block;
  opacity: 0.5;
}
.notification:nth-last-child(4) {
  display: block;
  opacity: 0.25;
}

.alert {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

button.login {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: scale(0.5);
}

.spine {
  border-radius: 3px;
  writing-mode: sideways-lr;
  font-size: large;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 1px solid gray;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 45px;
}

.spine:hover {
  /* transform: translate(0, -10px); */
  /* transform: translateZ(3); */
  transform: perspective(100px) translateZ(10px);
  box-shadow: 0px -5px 10px gray;
}

.view-toggle {
  position: absolute;
  right: 110px;
  top: 32px;
}

.index {
  display: inline-block;
  background-color: black;
  padding-top: 400px;
  width: 3px;
  position: relative;
  z-index: -1;
  margin-left: 1px;
  margin-right: 1px;
  span {
    position: relative;
    top: 25px;
    left: -13px;
    background-color: black;
    border: 5px solid black;
    border-radius: 49px;
    color: white;
    font-size: large;
    width: 30px;
    display: block;
    height: 30px;
    text-align: center;
    margin-top: -2px;
    line-height: 18px;
  }
}
