<!DOCTYPE html>
<html data-theme="light">
<head>
    <script src="/htmx.js"></script>
    <title>{title}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/pico.min.css">
    <meta name="htmx-config" content='{{"scrollIntoViewOnBoost": false}}'>
</head>
<body hx-boost="true">
    <header>
    {login}
    <nav class="container">
        <ul><li><a href="/" id="logo"><img src="/logo.svg" alt="Ook!"></a></li></ul>
        <ul>
            <li><span hx-post="/settings/recalculate" hx-trigger="click[ctrlKey]" style="color: white">Recalc</span></li>
            <li><a href="/collections" hx-swap="outerHTML" hx-select="#container" hx-push-url="true" hx-target="#container">Collections</a></li>
            <li><a href="/authors" hx-swap="outerHTML" hx-select="#container" hx-push-url="true" hx-target="#container">Authors</a></li>
            <li><a href="/books" hx-swap="outerHTML" hx-select="#container" hx-push-url="true" hx-target="#container">Books</a></li>
            <li><input
                id="q"
                name="q"
                type="search"
                hx-get="/books/search"
                hx-trigger="input changed delay:200ms, search"
                hx-select="#container"
                hx-target="#container"
                hx-push-url="true"
            ></li>
        </ul>
    </nav>
    </header>
    <main id="container" class="container">{main}</main>
    <footer>
        <div id="notifications"></div>
    </footer>
</body>
</html>
